<div ng-cloak layout="column">
    <md-toolbar layout="row" class="md-toolbar-tools">
        <h1>Todo List</h1>
    </md-toolbar>
    <div>
        <md-content layout="row" flex="100">
            <md-button class="md-fab md-mini md-primary" aria-label="Add" ng-click="$ctrl.showAdd($event)">
                    <i class="fa fa-plus" aria-hidden="true"></i>
            </md-button>
            <md-list flex layout="column">
                <md-list-item ng-repeat="point in $ctrl.points" ng-click="$ctrl.showEdit($event,point)">
                    <div class="md-list-item-text" layout="column" flex="100">
                        <h3 layout="column">{{point.content}}</h3>
                        <md-chips flex="column" readonly="true" ng-model="point.tags"></md-chips>
                    </div>
                    <md-button ng-click="$ctrl.showDelete($event, point.id)">Delete</md-button>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>