<h1 class="page-header">Todo List</h1>

<form class="form-inline">
    <input placeholder="Point text" ng-model="$ctrl.point.content" class="form-control" type="text">
    <button ng-click="$ctrl.addTodoPoint()" class="btn btn-default">Add</button>
</form>

<ul class="list-group">
    <li class="list-group-item" ng-repeat="point in $ctrl.points">
        {{point.content}}
        <span class="label label-info" ng-repeat="tag in point.tags">{{tag}}</span>
        <i ng-click="$ctrl.deleteTodoPoint(point.id)" class="btn-sm btn-danger">delete</i>
    </li>
</ul>